extends layout 

block content
    link(rel="stylesheet", href="/stylesheets/details.css")

    div.wrapper
        div.details-wrapper
            header
                img.left(src="/images/arrow-left.svg")
                h1.title=title 
                button.complete-btn(type="button")="완료"
            section.join-detail 
                form(action="/auth/register_process" method="POST") 
                    div.input-wrapper
                        label.input-field(for="email")
                            div.title="이메일"
                            div.email-validate-wrapper
                                div.field.email-input-wrapper
                                    input.user-email(name="email" id="email" placeholder="예시) baemin@woowahan.com")
                                    p.invalid-message 
                                    span.check-mark
                                div.validate-btn="중복확인"

                        label.input-field(for="nickname")
                            div.title="닉네임"
                            div.field
                                input.user-nickname(type="text" name="nickname" id="nickname" placeholder="예시) baebae")
                                p.invalid-message 
                                span.check-mark 
                        label.input-field(for="password")
                            div.title="비밀번호"
                            div.field
                                input.user-password(type="password" name="password" id="password" placeholder="10자 이상 영어 대문자, 소문자, 특수문자 중 2종류 조합")
                                p.invalid-message 
                                span.check-mark
                        label.input-field(for="birth")
                            div.title="생년월일"
                            div.field
                                input.user-birth(name="birth" id="birth" placeholder="예시) 2000.01.01")
                                p.invalid-message 
                                span.check-mark
    script(src="/javascripts/details.js")